@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #737373;
  font-family: 'Poppins';
}
.title {
  @apply mb-5 md:mb-8 lg:mb-16 text-4xl md:text-5xl font-bold text-center;
}
.div-container-hero {
  @apply flex flex-col gap-11 mx-auto max-w-[640px] md:max-w-[768px] lg:max-w-[845px] 
  px-4 md:px-[40px] lg:px-[66px] xl:px-[132px]  py-[80px] md:py-[100px] xl:py-[200px]  lg:py-[200px];
}

.div-container {
  @apply mx-auto px-4 md:px-[40px] lg:px-[66px] xl:px-[132px] xl:max-w-[1919px];
}
/* ____________________Section Motivation_____________________ */
details[open] summary {
  @apply bg-orange-100 dark:bg-mainText  transition-all duration-300;
}

details[open] summary div {
  @apply -rotate-45 transition-all duration-300;
}

/* __________________Blog card styles __________________________*/
.section-blog-item {
  @apply pt-[46px] pb-[90px] flex flex-col items-center;
}
.h1-title-blog {
  @apply font-poppins text-[32px] font-semibold text-mainTitle dark:text-mainTitleBlack;
}
.description {
  @apply font-poppins font-normal text-lg leading-normal text-mainText dark:text-mainTextBlack text-justify indent-5;
}
.div-for-img {
  @apply w-full h-96 bg-[#D9D9D9] dark:bg-backgroundBlack mb-12 overflow-hidden;
}
.ul-list {
  @apply flex flex-col gap-2 text-left list-inside  list-image-checkmark indent-10;
}
.ul-list-none {
  @apply flex flex-col gap-2 text-left list-inside list-none;
}
.h2-list-title {
  @apply font-poppins font-semibold text-mainTitle dark:text-mainTitleBlack text-lg leading-normal indent-5;
}
.p-item {
  @apply font-poppins font-normal text-lg text-mainText dark:text-mainTextBlack leading-normal;
}
.p-text {
  @apply font-poppins font-normal text-lg text-mainText dark:text-mainTextBlack leading-normal mt-2 text-justify indent-5;
}

.form-input {
  @apply w-full p-3 border-gray-500 dark:border-mainTextBlack rounded-lg border-2;
}

/* __________________input range________________ */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range']::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    cursor: ew-resize;
    background: #f67831;
    box-shadow: -405px 0 0 400px #737373;
    border-radius: 50%;
  }
}

.disabled {
  @apply pointer-events-none opacity-30;
}

.pagination-button {
  @apply py-4 px-6 font-poppins font-bold leading-normal border border-main rounded-pre-xl
  hover:bg-orange-100 dark:hover:bg-mainText
  cursor-pointer dark:bg-[#676465] text-mainText dark:text-mainTextBlack;
}
.isActive {
  @apply text-white font-bold bg-gradient-to-r from-red-500 to-orange-500  hover:from-red-600
  hover:to-orange-600 focus:from-red-600 focus:to-orange-600 
  hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
  shadow-[0_4px_9px_-4px_#3b71ca];
}

.cart {
  @apply pt-5 pb-10 text-center
}

.back-button {
  @apply font-poppins text-[14px] font-semibold flex gap-1 items-center mb-5 text-left
}

.cart__title {
  @apply font-poppins text-[40px] font-bold text-txt-accent leading-normal mb-5
}

.credentials {
  @apply flex flex-col items-start justify-center gap-12 p-6 bg-grey-bg rounded-pre-xl shadow-[0_4px_20px_0px_rgba(133,119,123,0.30)];
}

.credentials__title {
  @apply font-poppins text-[20px] font-bold leading-[normal] text-txt-accent
}
.credentials__user-info {
  @apply flex flex-col items-start justify-center gap-8
}

.credentials__input {
  @apply block font-poppins text-[16px] leading-[normal] text-txt-accent
}

.privacy {
  @apply flex flex-col items-start justify-center gap-6
}
.privacy__label {
  @apply text-left
}
.privacy__text {
  @apply font-poppins text-[16px] font-normal leading-[normal] text-txt-accent
}

.privacy__icon {
  @apply rounded-md border-2 border-txt-accent fill-transparent inline-block mr-2 peer-checked:fill-txt-accent transition-all
}

.product-list {
  @apply w-full after:block after:w-full after:h-[1.5px] after:bg-orange-gradient after:mt-12
}
.product {
  @apply flex flex-col gap-8 justify-center items-center
}
.product__item {
  @apply flex flex-col gap-4
}
.product__title {
  @apply font-poppins text-[16px] font-normal text-txt-accent leading-[normal]
}
.product__description {
  @apply font-poppins text-[16px] font-bold text-txt-accent leading-[normal]
}
.full-price {
  @apply w-full flex items-center justify-between
}
.full-price__title{
  @apply font-poppins font-medium text-[18px] text-txt-accent uppercase leading-[normal]
}
.full-price__description {
  @apply font-poppins font-semibold text-[24px] leading-[normal] text-transparent bg-clip-text bg-orange-gradient
}
.actions {
  @apply w-full flex flex-col gap-4
}
.actions__button {
  @apply w-full font-poppins font-normal text-[16px] p-4 rounded-pre-xl disabled:cursor-not-allowed
}



.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}