@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #737373;
  font-family: 'Poppins';
}
.title {
  @apply mb-5 md:mb-8 lg:mb-16 text-4xl md:text-5xl font-bold text-center;
}
.div-container-hero {
  @apply flex flex-col gap-11 mx-auto max-w-[640px] md:max-w-[768px] lg:max-w-[845px] 
  px-4 md:px-[40px] lg:px-[66px] xl:px-[132px]  py-[80px] md:py-[100px] xl:py-[200px]  lg:py-[200px];
}

.div-container {
  @apply mx-auto px-4 md:px-[40px] lg:px-[66px] xl:px-[132px] xl:max-w-[1919px];
}
/* ____________________Section Motivation_____________________ */
details[open] summary {
  @apply bg-orange-100 dark:bg-hoverBlack  transition-all duration-300;
}
details[open] summary h5 {
  @apply !text-mainTitle  transition-all duration-300;
}
details[open] summary div {
  @apply -rotate-45 transition-all duration-300;
}

/* __________________Blog card styles __________________________*/
.section-blog-item {
  @apply pt-[46px] pb-[90px] flex flex-col items-center;
}
.h1-title-blog {
  @apply font-poppins text-[32px] font-semibold text-mainTitle dark:text-mainTitleBlack;
}
.description {
  @apply font-poppins font-normal text-lg leading-normal text-mainText text-justify indent-5;
}
.div-for-img {
  @apply w-full h-96 bg-[#D9D9D9] mb-12 overflow-hidden;
}
.ul-list {
  @apply flex flex-col gap-2 text-left list-inside  list-image-checkmark indent-10;
}
.ul-list-none {
  @apply flex flex-col gap-2 text-left list-inside list-none;
}
.h2-list-title {
  @apply font-poppins font-semibold text-mainTitle dark:text-mainTitleBlack text-lg leading-normal indent-5;
}
.p-item {
  @apply font-poppins font-normal text-lg text-mainText leading-normal;
}
.p-text {
  @apply font-poppins font-normal text-lg text-mainText leading-normal mt-2 text-justify indent-5;
}

.form-input {
  @apply w-full p-3 border-gray-500 rounded-lg border-2;
}

/* __________________input range________________ */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range']::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    cursor: ew-resize;
    background: #f67831;
    box-shadow: -405px 0 0 400px #737373;
    border-radius: 50%;
  }
}

.disabled {
  @apply pointer-events-none opacity-30;
}

.pagination-button {
  @apply py-4 px-6 font-poppins font-bold leading-normal border border-main rounded-[10px] 
  hover:bg-orange-100 dark:hover:bg-mainText
  cursor-pointer dark:bg-[#676465] text-mainText dark:text-mainTextBlack;
}
.isActive {
  @apply text-white font-bold bg-gradient-to-r from-red-500 to-orange-500  hover:from-red-600
  hover:to-orange-600 focus:from-red-600 focus:to-orange-600 
  hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
  shadow-[0_4px_9px_-4px_#3b71ca];
}
